<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.myapplication">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication"
        android:usesCleartextTraffic="true">
        <activity android:name=".messaggi.MessaggiActivity"></activity>

        <service
            android:name=".MyService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <receiver android:name=".AlarmBroadcastReceiver">
            <intent-filter>
                <action android:name="com.example.myapplication" />
                <action android:name="android.intent.action.BOOT_COMPLETED" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>

        <activity android:name=".registrazione.InserimentoDatiAnnuncio" />
        <activity android:name=".registrazione.InserimentoDatiCasa" />
        <activity android:name=".login.ScegliUtente" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity android:name=".profilo.Assistenza" />
        <activity android:name=".home.CaseProprietario" />
        <activity android:name=".prenotazione.ElencoPrenotazioni" />
        <activity android:name=".home.Home">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".registrazione.InserimentoDatiProprietario" />
        <activity android:name=".registrazione.InserimentoDatiStudente" />
        <activity android:name=".profilo.ProfiloCasa" />
        <activity android:name=".ricercalloggio.ListaAnnunci" />
        <activity android:name=".ricercalloggio.MappaAnnunci" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBCyadRVH_uGnvM79GNR49RowBbyE4hkYg" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <activity android:name=".messaggi.ChatActivity" />
        <activity android:name=".profilo.ModificaInfoPersonali" />
        <activity android:name=".profilo.ModificaProfilo" />
        <activity android:name=".profilo.Notifiche" />
        <activity android:name=".prenotazione.PrenotazioneActivity" />
        <activity android:name=".prenotazione.PrenotazionePaypalActivity" />
        <activity android:name=".profilo.ProfiloAnnuncio" />
        <activity android:name=".profilo.ProfiloProprietario" />
        <activity android:name=".profilo.ProfiloStudente" />
        <activity android:name=".profilo.ProponiEsperieza" />
        <activity android:name=".recensione.RecensioniCasa" />
        <activity android:name=".recensione.RecensioniProprietarioInterne" />
        <activity android:name=".recensione.RecensioneCasaInterna" />
        <activity android:name=".recensione.RecensioneProprietarioEsterno" />
        <activity android:name=".recensione.RecensioniStudenteEsterneList" />
        <activity android:name=".recensione.RecensioniStudentInterne" />
        <activity android:name=".registrazione.RegistrationActivity" />
        <activity android:name=".salvati.Salvati" />
        <activity android:name=".prenotazione.VisitaVirtuale" />
        <activity android:name=".login.LoginActivity" />
        <activity android:name=".MainActivity" />
    </application>

</manifest>