<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.myapplication">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication">
        <activity android:name=".RecensioneProprietarioesterno"></activity>
        <activity android:name=".Recensionecasainterna" />
        <activity android:name=".Assistenza" />
        <activity android:name=".CaseProprietario" />
        <activity android:name=".ElencoPrenotazioni" />
        <activity android:name=".Home" />
        <activity android:name=".InserimentoDatiProprietario" />
        <activity android:name=".InserimentoDatiStudente">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".LaTuaCasa" />
        <activity android:name=".ListaCase" />
        <activity android:name=".MappaCase" />
        <activity android:name=".MessaggiUtente" />
        <activity android:name=".ModificaInfoPersonali" />
        <activity android:name=".ModificaProfilo" />
        <activity android:name=".Notifiche" />
        <activity android:name=".PrenotazioneActivity" />
        <activity android:name=".PrenotazionePaypalActivity" />
        <activity android:name=".ProfiloCasaActivity" />
        <activity android:name=".ProfiloProprietario" />
        <activity android:name=".ProfiloStudente" />
        <activity android:name=".ProponiEsperieza" />
        <activity android:name=".RecensioniCasa" />
        <activity android:name=".Recensioniproprietariointerne" />
        <activity android:name=".RecensioniStudentinterne" />
        <activity android:name=".RegisterActivityStud" />
        <activity android:name=".ResetPassword" />
        <activity android:name=".Salvati" />
        <activity android:name=".SelezionePrezzoLocalita" />
        <activity android:name=".VisitaVirtuale" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".MainActivity" />
    </application>

</manifest>