<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.myapplication">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_CALENDAR" />
    <uses-permission android:name="android.permission.WRITE_CALENDAR" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <uses-feature android:name="android.hardware.camera.front" />
    <uses-feature android:name="android.hardware.camera.front.autofocus" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication"
        android:usesCleartextTraffic="true">
        <activity android:name=".profilo.ListaRecensioniUtente"></activity>
        <activity android:name=".DownloadFiles" />
        <activity android:name=".prenotazione.ProfiloPrenotazione" />
        <activity android:name=".prenotazione.LeMiePrenotazioni" />
        <activity android:name=".ricercalloggio.FiltriRicerca" />
        <activity android:name=".registrazione.InserimentoServiziCasa" />
        <activity android:name=".registrazione.InserimentoHobbyStudente" />
        <activity android:name=".messaggi.MessaggiActivity" />
        <activity android:name=".registrazione.InserimentoDatiAnnuncio" />
        <activity android:name=".registrazione.InserimentoDatiCasa" />
        <activity android:name=".login.ScegliUtente" />
        <activity android:name=".profilo.Assistenza" />
        <activity android:name=".home.Home">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".registrazione.InserimentoDatiProprietario" />
        <activity android:name=".registrazione.InserimentoDatiStudente" />
        <activity android:name=".profilo.ProfiloCasa" />
        <activity android:name=".ricercalloggio.ListaAnnunci" />
        <activity android:name=".ricercalloggio.MappaAnnunci" />

        <service
            android:name=".notifiche.MyService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <receiver android:name=".notifiche.AlarmBroadcastReceiver">
            <intent-filter>
                <action android:name="com.example.myapplication" />
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBCyadRVH_uGnvM79GNR49RowBbyE4hkYg" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <activity android:name=".messaggi.ChatActivity" />
        <activity android:name=".profilo.ModificaProfilo" />
        <activity android:name=".prenotazione.PrenotazioneCalendarioActivity" />
        <activity android:name=".prenotazione.PrenotazionePaypalActivity" />
        <activity android:name=".profilo.ProfiloAnnuncio" />
        <activity android:name=".profilo.ProfiloProprietario" />
        <activity android:name=".profilo.ProfiloStudente" />
        <activity android:name=".recensione.NuovaRecensioneProprietario" />
        <activity android:name=".recensione.NuovaRecensioneCasa" />
        <activity android:name=".recensione.NuovaRecensioneStudente" />
        <activity android:name=".registrazione.RegistrationActivity" />
        <activity android:name=".login.LoginActivity" />
        <activity android:name=".bollettaSQL.ImageSQL" />
        <activity android:name=".bollettaSQL.Bolletta_main" />
        <activity android:name=".NotesSqlMain" />
        <activity
            android:name="com.braintreepayments.api.BraintreeBrowserSwitchActivity"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="com.example.myapplication.braintree" />
            </intent-filter>
        </activity>
    </application>

</manifest>